<% layout('layouts/boilerplate')%>



    <div class="container">
        <div class="row">
            <div class="col-lg-3 sticky-top">
                <div class="card d-flex flex-column justify-content-between">
                    <div class="card-body text-center">
                        <h5 id="translatedWord" class="card-title display-5">Tibetan</h5>
                        <h6 id="phoneticWord" class="card-text"></h6>
                        <h6 id="typeSpeech" class="card-subtitle mb-2 h5 text-muted">Part of Speech</h6>
                        <h6 class="card-title">See also:</h6>
                        <div id="see-also" class="card-title h3"></div>
                        <p id="blankTranslation" class="card-text h5">Click on a tibetan word to the right for a definition.
                        </p>

                    </div>
                </div>
            </div>



            <div class="col-lg-9 text-center">
                <div class="row justify-content-center">
                    <div class="col-6 mb-5">Enter Chapter and Verse Number
                        <div class="enter-verse-number lead">
                            <form action="/" method="POST" id="verse-number-box" class="form-control">
                                <input class="form-group" type="number" min="7" max="8" name='chapter' aria-label="Search" id="chapter-number-value" value="<%=chapterNumber.chapter%>">
                                <input class="form-group" name="verse" type="number" min="1" max="150" id="verse-number-value" value="<%=verseNumber.verse%>">

                                <button class="btn" type="submit" id="go-verse-button">Submit</button>

                            </form>
                            <div class="row justify-content-center">

                                <form action="/" method="POST" class="col-1 d-inline" id="prev-form">
                                    <input class="form-group is-hidden" name="verse" type="number" id="prev-verse-number">
                                    <input class="form-group is-hidden" type="number" name='chapter' aria-label="Search" id="prev-chapter-number">
                                    <button type="submit" name="verse" id="prev-arrow">&#8592;</button>
                                </form>



                                <div class="col-2 text-center d-inline">
                                    <button class="btn" id="tibetan-on">Tibetan</button>
                                </div>
                                <div class="col-2">
                                    <button class="btn  mb-3" id="english-on">English</button>
                                </div>
                                <div class="col-2">
                                    <button class="btn" id="phonetic-on">Phonetic</button>
                                </div>


                                <form action="/" method="POST" class="col-1 d-inline" id="next-form">
                                    <input class="form-group is-hidden" name="verse" type="number" id="next-verse-number">
                                    <input class="form-group is-hidden" type="number" name='chapter' aria-label="Search" id="next-chapter-number">
                                    <button type="submit" name="verse" id="next-arrow">&#8594;</button>
                                </form>



                            </div>

                        </div>
                    </div>
                </div>


                <div class="tibetan-listener">
                    <div id="tib-verse-container">

                        <% let phoneticClone=parsedVerse.map((x)=> x); %>
                            <% for(k=0; k<lengths.stanza; k++) { %>
                                <div class="tib<%=k%> tibetan-line">
                                    <% for (i=0; i<parsedVerse.length; i++) { %>

                                        <% if (parsedVerse[i][1]=== k+1) { %>

                                            <span class="text-center h3 d-inline tibetan-span" id="<%=`tibetan-container${i}`%>">

                                            <%= (parsedVerse[i][0]) %>
                                        </span>

                                            <%} else {%>
                                                <% parsedVerse.splice(0, i) %>
                                                    <% i=1000 %>
                                                        <% } %>
                                                            <% } %>

                                </div>

                                <div class="phonetic phonetic-line">
                                    <% for (i=0; i<phoneticClone.length; i++) { %>

                                        <% if (phoneticClone[i][1]===k+1) { %>

                                            <strong class="text-center h3 d-inline phonetic-span" id="<%=`phonetic-container${i}`%>">

                                            <%= (phoneticClone[i][3]) %>
                                        </strong>

                                            <%} else {%>
                                                <% phoneticClone.splice(0, i) %>
                                                    <% i=1000 %>

                                                        <% } %>
                                                            <% } %>

                                </div>



                                <div class="english-verse mb-2 english-line">
                                    <%=engArray[k]%>
                                </div>
                                <% } %>

                    </div>

                </div>

            </div>

        </div>


    </div>
    </div>









    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bodhi.js"></script>
    </body>

    </html>